.section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left_section {
  padding: 12px;
  border-right: 1px solid white;
}

.correspondence {
  padding: 12px;
}

.chats {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.chat_wrapper {
  border: 1px solid white;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 8px;

  &:hover {
    cursor: pointer;
  }
}
